.DS_Store
KoboRemote.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
KoboRemote.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
KoboRemote.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
